@font-face {
	font-family: "Golos";
	src: url("../fonts/Golos VF/Golos VF.eot");
	src: url("../fonts/Golos VF/Golos VF.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Golos VF/Golos VF.woff") format("woff"), url("../fonts/Golos VF/Golos VF.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Golos";
	src: url("../fonts/Golos/Golos.eot");
	src: url("../fonts/Golos/Golos.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Golos/Golos.woff") format("woff"), url("../fonts/Golos/Golos.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Golos";
	src: url("../fonts/Golos Medium/Golos Medium.eot");
	src: url("../fonts/Golos Medium/Golos Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Golos Medium/Golos Medium.woff") format("woff"),
		url("../fonts/Golos Medium/Golos Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Golos";
	src: url("../fonts/Golos DemiBold/Golos DemiBold.eot");
	src: url("../fonts/Golos DemiBold/Golos DemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Golos DemiBold/Golos DemiBold.woff") format("woff"),
		url("../fonts/Golos DemiBold/Golos DemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Golos";
	src: url("../fonts/Golos Bold/Golos Bold.eot");
	src: url("../fonts/Golos Bold/Golos Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Golos Bold/Golos Bold.woff") format("woff"),
		url("../fonts/Golos Bold/Golos Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Golos";
	src: url("../fonts/Golos Black/Golos Black.eot");
	src: url("../fonts/Golos Black/Golos Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Golos Black/Golos Black.woff") format("woff"),
		url("../fonts/Golos Black/Golos Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
